
.bootstrap-table .table > thead > tr > th {
  border-bottom: 1px solid #629f46;
  vertical-align: bottom;
  border: 1px solid #a4d58d;
  background-color: #629f46;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-color: #629f46;
    background: #629f46;
    color: #fff;
}

.nav-tabs .nav-link:not(.active):focus, .nav-tabs .nav-link:not(.active):hover{
    border-color: #468928;
    background: #468928;
    color: #fff;
}

.navbar-static-top  {
  background: #a4d58d;
}

.navbar-default{
  background: #2d5016;
}

.nav.metismenu > li{
  background: #2d5016;
}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus{
  background-color: #468928;
  color: white;
}

ul.nav-second-level{
  background: #468928;
}

.nav > li.active {
  background: #629f46;
}



.wizard > .content > .body ul {
    list-style: none !important;
}

/*******************************************************
* Responsive
*******************************************************/
h2 {
  font-size: calc(0.85em + 1.3vw);
}

.control-label{
  color: #2d5016;
  font-weight: 600;
}

.btn-zoom {
   padding:0.5%;
   font-weight:700;
   font-size:14px;
}

/*******************************************************
* Theme
*******************************************************/

.animation-zoom{
 animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

body{
  text-transform: uppercase;
  font-size: 11px;
}

.alert-primary {
    background-color: #629f46 ;
    border-color: transparent;
    border-left: 3px solid #418621 ;
    color: #fff;
}


.btn-primary{
  background-color: #629f46  !important;
  border-color: #629f46  !important;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    background-color: #468928  !important;
    border-color: #468928  !important;
    color: #FFFFFF;
}


.my_scrollbar::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

.my_scrollbar::-webkit-scrollbar-track {
  background: #dadada;        /* color of the tracking area */
}

.my_scrollbar::-webkit-scrollbar-thumb {
  background-color: #629f46;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #629f46;  /* creates padding around scroll thumb */
}


button.btn-primary.dim {
    box-shadow: inset 0 0 0 #468928, 0 5px 0 0 #468928, 0 10px 5px #999999 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    background-color: #468928  !important;
    border-color: #468928  !important;
    color: #FFFFFF;
}

.form-control:focus, .single-line:focus{
    border-color: #468928  !important;
}

.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #468928  !important;
}

.form-control.is-valid:focus, .was-validated .form-control:valid:focus{
    border-color: #468928  !important;
    box-shadow: 0 0 0 0.2rem rgba(98, 159, 70, 0.25);
}

.div-card:hover {
    box-shadow: 2px 2px 5px #999;
    cursor: pointer;
    cursor: hand;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #629f46;
}

input:focus + .slider {
  box-shadow: 0 0 1px #629f46;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/*******************************************************
* DatePicker
*******************************************************/
  .datepicker table tr td.disabled,
  .datepicker table tr td.disabled:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #dddddd;
    cursor: default;
  }

.dropdown-toggle::after {
    content: "";
    border: 0;
}


/*******************************************************
* Magic-Checkbox
*******************************************************/
  .magic-checkbox + label::before {
      border-radius: 0px;
  }
  .magic-checkbox + label::before, .magic-radio + label::before {
      height: 17px;
      width: 17px;
  }
  .magic-checkbox + label::after {
      left: 6px;
      top: 1px;
  }
  .magic-checkbox + label, .magic-radio + label {
      padding-left: 25px;
  }


/*******************************************************
* bootstrapTable
*******************************************************/
  .btt-icons {
    text-align: center;
  }
  .btt-icons > a {
    margin: 0 5px;
  }
  .btt-icons i.fa,
  .btt-icons span.glyphicon,
  .btt-icons .fa {
    font-size: 1.3em;
    color: #629f46;
  }
  .btt-icons i.fa:hover,
  .btt-icons span.glyphicon:hover {
    color: #468928;
  }

  .bootstrap-table .fixed-table-container {
    background: #fff none repeat scroll 0 0;
  }
  .bootstrap-table .fixed-table-toolbar .bars{
    margin-top: 0;
    padding-top: 0;
  }
  .bootstrap-table .fixed-table-toolbar .bars .btn-group{
    display: block;
    margin-top: 5px;
  }

  .bootstrap-table .date_range {
    display: inline-block;
    float: right;
    margin-left: 10px;
    margin-top: 2px;
    top: 12px;
    width: 225px;
  }

  .btt-toolbar{
    float: left;
  }

  .btt-toolbar select{
    display: inline-block;
    max-width: 250px;
    min-width: 75px;
    width: auto;
  }

  .btt-toolbar .btn-group{
    display: inline-block !important;
    position: relative;
    top: -4px;
  }

  .btt-toolbar select {
      background-color: #ffffff;
      border: 1px solid #e3e3e3;
      box-shadow: none;
      color: #565656;
      display: inline-block;
      height: 35px;
      margin-top: -1px;
      max-width: 100%;
      padding: 7px 12px;
      transition: all 300ms linear 0s;
  }
  .bootstrap-table .dropdown-menu label{
    font-size: .8em;
  }

  .btt-toolbar .select2-container {
    display: inline-block;
    width: auto !important;
    max-width: 225px !important;
  }

  @media (max-width: 585px) {
    .btt-toolbar a.add{
      font-size: 0;
      padding-bottom: 10px;
      padding-top: 10px;
    }
    .btt-toolbar a.add::before {
      content: "\f067";
        font-size: 10px;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .btt-toolbar select {
      width: 100%;
      margin-top: 10px;
    }

    .bootstrap-table .columns-right,
    .bootstrap-table .search{
      margin-top: 0;
    }

    .pull-right.search {
        width: 45%;
    }
  }

  @media (max-width: 360px) {
    .pull-right.search {
        width: 150px;
    }
  }


/*******************************************************
* Tab Backgroud
*******************************************************/
  .tab-base .tab-content{
    background: none;
    border: 2px solid #f8f8f8;
        border-top-color: rgb(248, 248, 248);
        border-top-style: solid;
        border-top-width: 2px;
    border-top: 3px solid #fff;
  }


/*******************************************************
* table-nifty
*******************************************************/
  .table-nifty th{
    padding: 8px !important;
  }



/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
  background: #a4d58d;
  padding: 50px 0;
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}



/* TIMELINE-horizontal
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline-horizontal {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline-horizontal ol {
  font-size: 0;
  width: 100vw;
  padding: 100px 0;
  transition: all 1s;
}

.timeline-horizontal ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #629f46;
}

.timeline-horizontal ol li:last-child {
  width: 150px;
}

.timeline-horizontal ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline-horizontal ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #629f46;
}

.timeline-horizontal ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 150px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: #fff;
  background: #629f46;
}

.timeline-horizontal ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline-horizontal ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline-horizontal ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: #629f46  transparent transparent transparent;
}

.timeline-horizontal ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline-horizontal ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #629f46;
}

.timeline-horizontal time {
  display: block;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 8px;
}



/* TIMELINE-horizontal ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline-horizontal .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline-horizontal .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline-horizontal .disabled {
  opacity: .5;
}

.timeline-horizontal .arrows img {
  width: 45px;
  height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .timeline-horizontal ol,
  .timeline-horizontal ol li {
    width: auto;
  }

  .timeline-horizontal ol {
    padding: 0;
    transform: none !important;
  }

  .timeline-horizontal ol li {
    display: block;
    height: auto;
    background: transparent;
  }

  .timeline-horizontal ol li:first-child {
    margin-top: 25px;
  }

  .timeline-horizontal ol li:not(:first-child) {
    margin-left: auto;
  }

  .timeline-horizontal ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }

  .timeline-horizontal ol li div {
    position: static;
  }

  .timeline-horizontal ol li:nth-child(odd) div {
    transform: none;
  }

  .timeline-horizontal ol li:nth-child(odd) div::before,
  .timeline-horizontal ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }

  .timeline-horizontal ol li:last-child,
  .timeline-horizontal ol li:nth-last-child(2) div::before,
  .timeline-horizontal ol li:not(:last-child)::after,
  .timeline-horizontal .arrows {
    display: none;
  }
}

